[Unit]
Description=Telegram Inviter Flask Service
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/telegram_invite
Environment="PATH=/home/admin/telegram_invite/venv/bin"
Environment="ADMIN_USERNAME=admin"
Environment="ADMIN_PASSWORD=admin"
Environment="FLASK_SECRET=3d6f45a5fc12445dbac2f59c7b6c1cf1"
ExecStart=/home/admin/telegram_invite/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target 